<h1>References</h1>
<% @references.each do |r| %>
  <h3><%= r.title %><%= "Untitled Reference" unless r.title.length > 0 %></h3>
  <p>Created on <%= r.created_at.strftime("%a %d %B") %></p>
  <p><%= link_to "View", reference_path(r) %></p>
<% end %>
