<div class="jumbotron">
  <h1>Hey, <%= current_user.name %>!</h1>
</div>

<h4> <%= link_to "Add Reference", new_reference_path %></h4> <br>

<h2>Your Latest References</h2><br>
<%= render partial: "shared/reference", locals: { references: @references } %>
<h4><%= link_to "View All References", references_path %> </h4>
