;config for your aws account
[ec2conf]
;image to use. default is ubuntu 16.04 in frankfurt
image-id = ami-8504fdea
;ec2 instance type
instance-type = t2.nano
;add your ssh key name here
key-name = CHANGE_ME
;location of ssh key
key-location = CHANGE_ME
;create a security group and allow access to at least port 22
security-groups = CHANGE_ME


